<div class="wage-calculator">
  <div>
    <label>
      Минимальная зарплата:
    </label>
    <div class="result">
      {{calculator.minimalWage }} &euro;
    </div>
  </div>
  <div>
    <label>
      Ваша зарплата:
    </label>
    <div class="result">
      <input numberOnly="^[0-9]+(\.[0-9]*){0,1}$" [ngModel]="calculator.wageBrutto" (ngModelChange)="updateBrutto($event)"
             placeholder="{{calculator.wageBrutto | number:'1.2-2'}}" >
    </div>
  </div>
  <div>
    <label>Учитывать добровольные 2% пенсии:</label>
    <div class="result">
      <input [ngModel]="calculator.useVoluntaryRent" (ngModelChange)="setVoluntaryRent($event)" type="checkbox"/>
    </div>
  </div>
  <div>
    <label>Учитывать необлагаемый минимум:</label>
    <div class="result">
      <input [ngModel]="calculator.useNonTaxableMinimum" (ngModelChange)="setNonTaxableMinimum($event)" type="checkbox"/>
    </div>
  </div>
  <div>
    <label>
      Необлагаемый минимум:
    </label>
    <div class="result">
      {{calculator.npd| number:'1.2-2'}} &euro;
    </div>
  </div>
  <div>
    <label>
     Haлoг платится с суммы:
    </label>
    <div class="result">
      {{calculator.taxableAmount| number:'1.2-2'}} &euro;
    </div>
  </div>
  <div>
    <label>
      Подоходный налог ({{calculator.taxRateWorker | percent}}):
    </label>
    <div class="result">
      {{calculator.taxAmountWorker| number:'1.2-2'}} &euro;
    </div>
  </div>
  <div>
    <label>
      Личный взнос в соцстрах ({{calculator.sodraRateWorker | percent}}):
    </label>
    <div class="result">
      {{calculator.sodraAmountWorker | number:'1.2-2'}} &euro;
    </div>
  </div>
  <div>
    <label>
      Итого вам достанется:
    </label>
    <div class="result">
      <input [ngModel]="calculator.wageNetto " (ngModelChange)="updateNetto($event)" numberOnly="^[0-9]+(\.[0-9]*){0,1}$"
             placeholder="{{calculator.wageNetto | number:'1.2-2'}}">
    </div>
  </div>
  <div>
    <label>
      Взносы работодателя на соцстрах (30,98-31,7%):
    </label>
    <div class="result">
      <input [ngModel]="calculator.sodraRateCompany * 100 |  number:'1.2-2'" placeholder="{{calculator.sodraRateCompany| number:'1.2-2'}}"
             numberOnly="^[0-9]+(\.[0-9]*){0,1}$"
             (ngModelChange)="updateSodraRateCompany($event)"
        >
    </div>
    <div class="result">
      {{calculator.sodraAmountCompany| number:'1.2-2'}} &euro;
    </div>
  </div>


  <div>
    <label>
      Итого ваш работодатель отдаст денег:
    </label>
    <div class="result">
      <input [ngModel]="calculator.companyTotal" (ngModelChange)="updateTotal($event)"
             numberOnly="^[0-9]+(\.[0-9]*){0,1}$"
             placeholder="{{calculator.companyTotal| number:'1.2-2'}}">
    </div>
  </div>

  <div>
    <label>
      От этих денег вам достанется:
    </label>
    <div class="result">
      {{ calculator.percentState | percent}}
    </div>
  </div>
</div>
