extends layout



block header
    h1= page.title

block content
    != page.html




    each app in page.parent._.directories.sort(function(a,b){ a.index.title > b.index.title})
        - var idx = app.index;
        - console.log(idx.title)
        if  "article.pug" == app.index.template
            article.article.intro
                header
                    h2
                        a(href=idx.url)= idx.title
                section.content
                    if idx.intro.length > 0
                        != typogr(idx.intro).typogrify()
                    if idx.hasMore
                        p.more
                            a(href=idx.url) more



