div#top-nav
    ul.menu
        li
            a(href="/") Home
        li
            a(href="/android") Android
        li.profiles
            a(href="//plus.google.com/u/0/111923651644593005507?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;")
                img(src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;")
        li.profiles
            a(href="https://github.com/ko5tik")
                img(src='/assets/GitHub-Mark-32px.png' width="16" height="16")
        li.profiles
            a(href="https://stackoverflow.com/users/683735/konstantin-pribluda") SO