div#top-nav
    ul.menu
        li
            a(href="/") Home
        li
            a(href="/android") Android
        li
            a(href="/tools") Tools
        li
            a(href="/projects") Projects
        li.profiles
            | <a href="https://stackoverflow.com/users/683735/konstantin-pribluda"><img src="https://stackoverflow.com/users/flair/683735.png" width="104" height="29" alt="profile for Konstantin Pribluda at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Konstantin Pribluda at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
        li.profiles
            a(href="https://github.com/ko5tik")
                img(src='/assets/GitHub-Mark-32px.png' width="16" height="16")
        li.profiles
            a(href="https://stackoverflow.com/users/683735/konstantin-pribluda") so
        li.profiles
            a(href="/lang/de/")
                img(src='/assets/de.png' width="16" height="16")
        li.profiles
            a(href="/lang/en/")
                img(src='/assets/en.png' width="16" height="16")
