div#top-nav
    ul.menu
        li
            a(href="/") Home
        li
            a(href="/android") Android

        li.profiles
            a(href="//plus.google.com/u/0/111923651644593005507?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;") g+
        li.profiles
            a(href="https://github.com/ko5tik")
              img(src='/assets/GitHub-Mark-32px.png' width="16" height="16")
        li.profiles
            a(href="https://stackoverflow.com/users/683735/konstantin-pribluda") so
        li.profiles
            a(href="/lang/de/")
                img(src='/assets/de.png' width="16" height="16")
        li.profiles
            a(href="/lang/en/")
                img(src='/assets/en.png' width="16" height="16")